extends ../layout

block content
  h1= title
  form(method='post')
    div
      span Title:
      input(type='text', name='title')
    div
      textarea(name='content')
    input(type='submit', value='submit')

